SrcLib/core/fwServices/rc/test1.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?> 
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="rootElement1" type="myType"/>

<xs:complexType name="myType">
  <xs:sequence>
    <xs:element name="subElement" type="mySubType" minOccurs="0" maxOccurs="unbounded" />
  </xs:sequence>
  <!-- Attributs specifiquement associés à la classe ::data::Image -->
<!--  <xs:attribute name="id" type="xs:string" use="required" />
  <xs:attribute name="type" type="xs:string" use="required" /> -->  
</xs:complexType>

<xs:complexType name="mySubType">
  <xs:attribute name="myAttr" type="xs:string" use="required" />
</xs:complexType>

</xs:schema>