module/__/data/rc/config.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="extension" type="extension_t" />

    <xs:complexType name="extension_t">
        <xs:sequence>
            <xs:element name="id" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="object" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="desc" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="config" type="object_t" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
        <xs:attribute name="implements" type="xs:string" use="required" />
    </xs:complexType>

    <xs:complexType name="object_t">
        <xs:sequence>
            <xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="matrix" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="value" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="item" type="item_t" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="colors" type="color_t" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="color" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="file" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="resource" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="gray" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="param" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="config" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name='uid' type='xs:string' />
        <xs:attribute name='type' type='xs:string' />
        <xs:attribute name='src' type='xs:string' />
        <xs:attribute name='value' type='xs:string' />
        <xs:attribute name='deferred' type='boolean_t' />
        <xs:attribute name='preference' type='boolean_t' />
        <xs:attribute name='config' type='xs:string' />
    </xs:complexType>

    <xs:complexType name="item_t">
        <xs:sequence>
            <xs:element name="object" type="object_t" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
        <xs:attribute name='key' type='xs:string' />
        <xs:attribute name='uid' type='xs:string' />
        <xs:attribute name='type' type='xs:string' />
        <xs:attribute name='value' type='xs:string' />
    </xs:complexType>

    <xs:complexType name="color_t">
        <xs:sequence>
            <xs:element name="step" type="step_t" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="isClamped" type="xs:string" />
        <xs:attribute name="is_clamped" type="xs:string" />
        <xs:attribute name="resample_to_max_texture_size" type="boolean_t" />
        <xs:attribute name="default" type="xs:string" use="optional" />
    </xs:complexType>

    <xs:complexType name="step_t">
        <xs:attribute name="color" type="xs:string" use="required" />
        <xs:attribute name="value" type="xs:string" use="required" />
    </xs:complexType>

    <xs:simpleType name="boolean_t">
        <xs:restriction base="xs:string">
            <xs:enumeration value="true" />
            <xs:enumeration value="false" />
        </xs:restriction>
    </xs:simpleType>

</xs:schema>