SrcLib/io/fwXML/rc/Dictionary.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" >

<xsd:include schemaLocation="DictionaryOrgan.xsd"/>
<xsd:include schemaLocation="Field.xsd" />

<xsd:complexType name="DictionaryXSDType" >
    <xsd:sequence>
        <xsd:element name="Attributes" type="xsd:anyType" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="DynamicAttributes" type="xsd:anyType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:string" />
    <xsd:attribute name="class" type="xsd:string" />
</xsd:complexType>

<xsd:element name="Dictionary" type="DictionaryXSDType"/>


</xsd:schema>