SrcLib/io/fwXML/rc/PatientDB.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!-- import xml schema for xml:base xml:lang & co // must be included in each schema :/ -->     
<xsd:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd" />
    
<xsd:include schemaLocation="Field.xsd"/>

<xsd:complexType name="PatientDBXSDType">
    
    <xsd:sequence>
    <xsd:element name="patients" type="xsd:anyType" />
    </xsd:sequence>
    
    <xsd:attribute name="id" type="xsd:string"/>
    <xsd:attribute name="class" type="xsd:string"/>
    <xsd:attribute ref="xml:base" />
    
</xsd:complexType>

<xsd:element name="PatientDB" type="PatientDBXSDType"/>

</xsd:schema>